{% extends 'base.html.twig' %}

{% block title %}Ajouter un type{% endblock %}

{% block body %}
    <h1>Nouveau type de document</h1>
{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="alert alert-danger">{{ message }}</div>
{% endfor %}

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.code) }}
        {{ form_row(form.description) }}
        <br>
        <button class="btn btn-success">Créer</button>
    {{ form_end(form) }}
{% endblock %}
