{% extends 'base.html.twig' %}

{% block title %}{{ storageLocation.id ? 'Modifier l\'emplacement' : 'Nouvel emplacement' }}{% endblock %}

{% block body %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>{{ storageLocation.id ? 'Modifier l\'emplacement' : 'Nouvel emplacement' }}</h1>
    <a href="{{ path('app_storage_locations_index') }}" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Retour à la liste
    </a>
</div>

<div class="card">
    <div class="card-body">
        {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">{{ form_row(form.code) }}</div>
                <div class="col-md-6">{{ form_row(form.name) }}</div>
                <div class="col-md-6">{{ form_row(form.shelf) }}</div>
                <div class="col-md-6">{{ form_row(form.row) }}</div>
                <div class="col-md-6">{{ form_row(form.box) }}</div>
                <div class="col-md-6">{{ form_row(form.capacity) }}</div>
            </div>
            {{ form_row(form.description) }}
            {{ form_row(form.isActive) }}
            <div class="mt-4">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> {{ storageLocation.id ? 'Mettre à jour' : 'Créer' }}
                </button>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
