{% extends 'base.html.twig' %}

{% block title %}{{ title }} - Mazraa Archive{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h3 mb-0">{{ title }}</h1>
        <a href="{{ path('app_users_index') }}" class="btn btn-secondary">
            <i class="fas fa-arrow-left me-2"></i>
            Retour à la liste
        </a>
    </div>

    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.username) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.email) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.firstName) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.lastName) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.plainPassword) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.isActive) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.roles) }}
                    </div>
                </div>

                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save me-2"></i>
                        Enregistrer
                    </button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %} 