{# templates/document/form.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    {{ document.id ? 'Modifier le document' : 'Nouveau document' }}
{% endblock %}

{% block body %}
    <h1>{{ document.id ? 'Modifier le document' : 'Nouveau document' }}</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.documentType) }}
        {{ form_row(form.barcode) }}
        {{ form_row(form.storageLocation) }}
        {{ form_row(form.status) }}
        {{ form_row(form.description) }}
        <br>
        <button class="btn btn-success">
            {{ document.id ? 'Mettre à jour' : 'Créer' }}
        </button>
    {{ form_end(form) }}
{% endblock %}
